#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
sw/.metadata/.plugins/org.eclipse.core.resources/.projects/CompileAndLink/.indexes/e4/81/8/47/22/history.index
sw/.metadata/.plugins/org.eclipse.core.resources/.projects/CompileAndLink/.markers
sw/.metadata/.plugins/org.eclipse.core.resources/.root/.markers
sw/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
sw/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
sw/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
sw/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
sw/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
fw/legoRCX/legoRCX_Flash/Debug/bin/legoRCX_Flash.bin
fw/legoRCX/legoRCX_Flash/Debug/bin/legoRCX_Flash.elf
fw/legoRCX/legoRCX_Flash/Debug/obj/history.xml
fw/legoRCX/legoRCX_Flash/Debug/obj/main.o
fw/legoRCX/legoRCX_Flash/legoRCX_Flash.elf.xcodeproj/project.pbxproj
*.o
*.class
